<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@@2/css/pico.min.css">
  <meta name="color-scheme" content="light dark">
  <title>WebStencils demo</title>
</head>

<body>  
  <main class="container">
    <h1>Anonymous methods</h1>
    <article>
      <h4>@@env1 - TMap type</h4>
      <p>APP_VERSION = <code>@env1.APP_VERSION</code></p>
      <p>DEBUG_MODE = <code>@env1.DEBUG_MODE</code></p>
    </article>
    <article>
      <h4>@@env2 - Fully anonymous</h4>
      <p>APP_VERSION = <code>@env2.APP_VERSION</code></p>
      <p>DEBUG_MODE = <code>@env2.DEBUG_MODE</code></p>
    </article>
  </main>
</body>

</html>